<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<ul class="users">
	<%= render @users %> <!-- This acts on the _user partial and automatically iterates through it  -->
</ul>
<%= will_paginate %>